/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ==============
      FONTS
============== */

/* Futura Family */
@font-face {
    font-family: 'futura';
    src: url('http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot');
    src: url('http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.tumblr.com/gjd1903/cNon0zpyd/futuralt-webfont.woff') format('woff'),
         url('http://static.tumblr.com/gjd1903/DK3n0zpxx/futuralt-webfont.ttf') format('truetype'),
         url('http://static.tumblr.com/gjd1903/zKNn0zpx0/futuralt-webfont.svg#futura') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Aleo Family */
@font-face {
    font-family: 'aleo';
    src: url('http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot');
    src: url('http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.tumblr.com/gjd1903/rDin0zqbx/aleo-bold-webfont.woff') format('woff'),
         url('http://static.tumblr.com/gjd1903/s9Mn0zqc9/aleo-bold-webfont.ttf') format('truetype'),
         url('http://static.tumblr.com/gjd1903/yfTn0zqcq/aleo-bold-webfont.svgg#aleo') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* ==============
      STACKS
============== */

body{
    font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "aleo", "helvetica", arial, sans-serif;
    font-weight: bold;
}

.title, #nav, .cards, .date{
    font-family: "futura", "helvetica", arial, sans-serif;
    text-transform: uppercase;
}

/* ==============
      BASLINE
============== */

body{
    font-size:87.5%;
    font-size:14px;
    line-height:1.5em;
    color: #222;
    background-color: white;
}

embed{
    margin-bottom: 20px;
}

/* ==============
      ELEMENTS
============== */

h1{
    font-size:2.5em;
    line-height:1.333em;
    margin:.97em 0 0em;
} 

h2{
    font-size:1.75em;
    line-height:1.1em;
    margin:2em 0 0em;
}           
        
h1 + img, h2 + img {
    margin-top:1em;
}

h3{
    font-size:1.125em;
}

h4{
    font-weight:bold;
    font-size:1em;
}

small{
    display:block;
    font-size:.75em;
    letter-spacing:.05em;
    margin:2.2em 0 -.2em;
    font-style:italic;
    line-height:1.75em;
}

p, ul, ol, form{
    margin:1.5em 0 1em;
}

ul{
    list-style-position:outside;
    list-style-type:disc;
    line-height:1.5;
}

li{
    margin-bottom:.75em;
}

ol{
    list-style-position:outside;
    list-style-type:decimal;
}

blockquote{
    font-style:italic;
    line-height:1.6em;
}

blockquote:before{
    font-family:Georgia, serif;
    content: "“";
    font-size:2.75em;
    text-indent:-8em;
    margin-top:.1em;
    float:left;
    opacity:.3;
}

.cite{
    display:block;
    text-transform:uppercase;
    letter-spacing:.2em;
    margin-top:1.5em;
    margin-left:1em;
    font-weight:900;
    font-style:normal;
    font-size:.8em;
}

.cite:before{
    content:"— ";
    margin-left:-3.4em;
    margin-right:.9em;
    opacity:.3;
}

pre{
    margin:1.5em;
}

p {
    margin-bottom:0;
    hyphenate: auto;
    hyphenate-before:2;
    hyphenate-after:3;
    hyphenate-lines: 3;
    orphans:4
}

p span.pullquote{
    text-indent:0;
}

sup, .superscript{
    font-size: xx-small;
    vertical-align: top;
}

strong, b{
    font-weight: bold;
}

em, i{
    font-style: italic;
}

hr{
    border: none;
    border-bottom: 1px solid #eee;
}

/* ==============
    COSMETIC
============== */

.kicker{
    font-size:1.25em;
    line-height:1.693em;
    margin:1em 0px 1em 0px;
}

.kicker, .pullquote{
    font-weight:100;
}

.run-in{
    font-style:italic;
    font-weight:bold;
}

.pullquote{
    font-style:italic;
    letter-spacing:.05em;
    margin:.5em .7em .3em 0em;
    padding-top:.15em;
    line-height:1.7em;
    display:block;float:left;
    font-size:1.6em;
    width:55%;
}

.pullquote:before {
    font-family:Georgia, serif;
    content: "“";
    font-size:2em;
    text-indent:-.8em;
    margin-top:.05em;
    float:left;
    opacity:.3;
}

.caption{
    font-size:.8em;
    font-style:italic;
    margin:.6em 0 -.2em;
}

.kicker .run-in{
    text-transform:uppercase;
    font-style:normal;
    margin-top: 20px;
    letter-spacing:.25em;
    font-size:.9em;
}

.drop-cap {
    display:block;
    font-style:normal;
    font-size:5.1em;
    float:left;
    margin:.13em .1em 0 0;
    line-height:.67em;
    font-weight:100;
}

/* ==============
      TITLES
============== */

/* Page & Post */
.title{
    text-align: center;
    font-family: "futura", "helvetica", arial, sans-serif;
    font-weight: normal;
}

.title h1{
    font-size: 7em;
}

#entry .title{
    text-align: center;
    font-size: 4em;
    line-height: 1em;
    margin: 0.5em 0;
}

#entry .title a:hover{
    color: #498c34;
}

/* Mobile Scaling */
@media screen and (max-width: 640px){
    #entry .title{
        font-size: 3em;
    }
}
@media screen and (max-width: 400px){
    #entry .title{
        font-size: 2em;
    }
}


/* Header */
header{
    width: 85%;
    margin: 0 auto;
}

header h1, header h2{
    text-align: center;
    font-family: "futura", "helvetica", arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

header h1 a{
    color: #222;
    font-weight: normal;
}

header h1{
    font-size: 10em;
    margin-top: 0px;
    padding: 0px;
    line-height: 1em;
    border-bottom: 10px #498c34 solid;
}

header h2{
    font-size: 4em;
    margin-top: 0px;
}

/* Mobile scaling for header */
@media screen and (max-width: 1064px){
    header h1{
        font-size: 6em;
        border-bottom: 7px #498c34 solid;
    }
    header h2{
        margin-top: 5px;
        font-size: 2em;
    }
}

@media screen and (max-width: 640px){
    header h1{
        font-size: 3em;
        border-bottom: 3px #498c34 solid;
    }
    header h2{
        margin-top: 5px;
        font-size: 1em;
    }
}

/* ==============
      LINKS
============== */

a{
    color: #498c34;
    text-decoration: none;
    font-weight: bold;
}

p a:hover{
    color: #222;
}

#nav a{
    color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .title a{
    color: #222;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
    color: #498c34;
}
/* ==============
	  GRID
============== */

/* Invoke Border-box for grid */
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Sets content column */
.wrap{
	margin: 60px auto 100px auto;
	max-width: 960px;
	width: 90%;
}

/* Grid Meat */
.columns{
float:left;
margin-left:5%;
}
 
.columns:first-child{
margin-left:0;
}


.twelve.columns{
	width:100%;
}

.eight.columns{
	width:65%;
}

.six.columns{
	width:47.5%;
}
 
.four.columns{
	width:30%;
}
 
.three.columns{
	width:21.25%;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
 
.clearfix:after{
	clear:both;
}
 
.clearfix{
	*zoom:1;
}

.row{
	overflow:hidden;
}

/* Mobile Squash */
@media screen and (max-width:640px){
	.columns.twelve,
	.columns.eight,
	.columns.six,
	.columns.four,
	.columns.three{
		float:none;
		margin:0;
		width:100%;
		margin-bottom: 30px;
	}
}

/* ==============
	  LAYOUT
============== */

img{
	width: 100%;
}

@media screen and (max-width: 640px){
	.big{
		display: none;
	}
}

#entry{
	margin-bottom: 100px;
}

.center{
	text-align: center;
}
/* ==============
	NAVIGATION
============== */

ul#nav{
	position: fixed;
	top: 0px;
	z-index: 99;

	padding: 15px;
	margin: 0px 10px;

	list-style: none;
	background-color: white;

	border: 1px #eee solid;
}

ul#nav li{
	display: inline;
	padding: 15px 15px;
}

ul#nav li:hover{
	background-color: #498c34;
}

/* Mobile Vertical Dropdown */
@media screen and (max-width: 1064px){
	ul#nav{
		position: fixed;
		width: 30%;
		padding: 10px;
		z-index: 90;
	}

	ul#nav:before{
		content: "Navigate PearShaped";
	}
	
	ul#nav li{
		display: none;
		padding: 5px;
		overflow: hidden;
	}

	ul#nav li:first-child{
		margin-top: 10px;
	}

	ul#nav:hover li{
		display: block;
	}
}

@media screen and (max-width: 666px){
	ul#nav{
		display: none;
	}
	.wrap{
		margin-top: 10px;
	}
}

/* ==============
	POSTS
============== */

.date a{
	text-align: right;
	font-weight: normal;
	color: #498c34;
}

/* ==============
	 REVIEWS
============== */

.album{
	margin-bottom: 40px;
}

.album a:hover img{
	opacity: 0.5;
}

/* ==============
	 FEATURES
============== */

.hero{
	line-height: 0.8em;
	margin: 0.1em;
}

/* ==============
	EVENTS
============== */

/* Stroll */

/* Third-party animated and styled lists by Hakim El Attab */
ul.cards {
	position: relative;
	width: 100%;
	max-height: 300px;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;

	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}

ul.cards li {
	position: relative;
	padding: 16px;
	margin: 0;
	color: #222;
	font-size: 18px;
	z-index: 2;
	text-transform: uppercase;
	background: #eee;

	-webkit-transform: translateZ(0px);
	   -moz-transform: translateZ(0px);
	    -ms-transform: translateZ(0px);
	     -o-transform: translateZ(0px);
	        transform: translateZ(0px);
}

	ul.cards li:hover{
		background-color: #498c34;
	}

	ul.cards li a{
		color: #222;
		font-weight: 200;
	}

	ul.cards li a b, ul.cards li a strong{
		font-weight: 900;
	}

	ul.cards li a:hover{
		color: white;
	}


.cards {
	-webkit-perspective: 300px;
	   -moz-perspective: 300px;
	    -ms-perspective: 300px;
	     -o-perspective: 300px;
	        perspective: 300px;

	-webkit-perspective-origin: 50% 50%;
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	     -o-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;
}

	.cards li {
		-webkit-transition: all 600ms ease;
		   -moz-transition: all 600ms ease;
		    -ms-transition: all 600ms ease;
		     -o-transition: all 600ms ease;
		        transition: all 600ms ease;

		-webkit-transform-origin: 100% 50%;
		   -moz-transform-origin: 100% 50%;
		    -ms-transform-origin: 100% 50%;
		     -o-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;
	}
		.cards li.past {
			-webkit-transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
			   -moz-transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
			    -ms-transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
			     -o-transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
			        transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
		}
		.cards li.future {
			-webkit-transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
			   -moz-transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
			    -ms-transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
			     -o-transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
			        transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
		}

/* ==============
	FIXES
============== */

#entry h1, #entry h2, #entry h3, #entry h4, #entry h5, #entry h6{
	margin-top: 10px;
	margin-bottom: 0.5em;
}

#entry h1{
	font-size: 50px;
}

#entry h2{
	font-size: 40px;
}

#entry h3{
	font-size: 30px;
}

#entry h4{
	font-size: 24px;
}

#entry h5{
	font-size: 20px;
}

#entry h6{
	font-size: 18px;
}

.title.final{
	font-size: 72px;
	text-align: center;
	font-weight: normal;
	line-height: 1em;
}

.title.final a:hover{
	color: #498c34;
}

#featured{
	list-style-type: none;
}