/* ==============
	  GRID
============== */

/* Invoke Border-box for grid */
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Sets content column */
.wrap{
	margin: 60px auto 100px auto;
	max-width: 960px;
	width: 90%;
}

/* Grid Meat */
.columns{
float:left;
margin-left:5%;
}
 
.columns:first-child{
margin-left:0;
}


.twelve.columns{
	width:100%;
}

.eight.columns{
	width:65%;
}

.six.columns{
	width:47.5%;
}
 
.four.columns{
	width:30%;
}
 
.three.columns{
	width:21.25%;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
 
.clearfix:after{
	clear:both;
}
 
.clearfix{
	*zoom:1;
}

.row{
	overflow:hidden;
}

/* Mobile Squash */
@media screen and (max-width:640px){
	.columns.twelve,
	.columns.eight,
	.columns.six,
	.columns.four,
	.columns.three{
		float:none;
		margin:0;
		width:100%;
		margin-bottom: 30px;
	}
}

/* ==============
	  LAYOUT
============== */

img{
	width: 100%;
}

@media screen and (max-width: 640px){
	.big{
		display: none;
	}
}

#entry{
	margin-bottom: 100px;
}

.center{
	text-align: center;
}