/* ==============
      FONTS
============== */

/* Futura Family */
@font-face {
    font-family: 'futura';
    src: url('http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot');
    src: url('http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.tumblr.com/gjd1903/cNon0zpyd/futuralt-webfont.woff') format('woff'),
         url('http://static.tumblr.com/gjd1903/DK3n0zpxx/futuralt-webfont.ttf') format('truetype'),
         url('http://static.tumblr.com/gjd1903/zKNn0zpx0/futuralt-webfont.svg#futura') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Aleo Family */
@font-face {
    font-family: 'aleo';
    src: url('http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot');
    src: url('http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.tumblr.com/gjd1903/rDin0zqbx/aleo-bold-webfont.woff') format('woff'),
         url('http://static.tumblr.com/gjd1903/s9Mn0zqc9/aleo-bold-webfont.ttf') format('truetype'),
         url('http://static.tumblr.com/gjd1903/yfTn0zqcq/aleo-bold-webfont.svgg#aleo') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* ==============
      STACKS
============== */

body{
    font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "aleo", "helvetica", arial, sans-serif;
    font-weight: bold;
}

.title, #nav, .cards, .date{
    font-family: "futura", "helvetica", arial, sans-serif;
    text-transform: uppercase;
}

/* ==============
      BASLINE
============== */

body{
    font-size:87.5%;
    font-size:14px;
    line-height:1.5em;
    color: #222;
    background-color: white;
}

embed{
    margin-bottom: 20px;
}

/* ==============
      ELEMENTS
============== */

h1{
    font-size:2.5em;
    line-height:1.333em;
    margin:.97em 0 0em;
} 

h2{
    font-size:1.75em;
    line-height:1.1em;
    margin:2em 0 0em;
}           
        
h1 + img, h2 + img {
    margin-top:1em;
}

h3{
    font-size:1.125em;
}

h4{
    font-weight:bold;
    font-size:1em;
}

small{
    display:block;
    font-size:.75em;
    letter-spacing:.05em;
    margin:2.2em 0 -.2em;
    font-style:italic;
    line-height:1.75em;
}

p, ul, ol, form{
    margin:1.5em 0 1em;
}

ul{
    list-style-position:outside;
    list-style-type:disc;
    line-height:1.5;
}

li{
    margin-bottom:.75em;
}

ol{
    list-style-position:outside;
    list-style-type:decimal;
}

blockquote{
    font-style:italic;
    line-height:1.6em;
}

blockquote:before{
    font-family:Georgia, serif;
    content: "“";
    font-size:2.75em;
    text-indent:-8em;
    margin-top:.1em;
    float:left;
    opacity:.3;
}

pre{
    margin:1.5em;
}

p {
    margin-bottom:0;
    hyphenate: auto;
    hyphenate-before:2;
    hyphenate-after:3;
    hyphenate-lines: 3;
    orphans:4
}

p span.pullquote{
    text-indent:0;
}

sup, .superscript{
    font-size: xx-small;
    vertical-align: top;
}

strong, b{
    font-weight: bold;
}

em, i{
    font-style: italic;
}

hr{
    border: none;
    border-bottom: 1px solid #eee;
}

/* ==============
    COSMETIC
============== */

.kicker{
    font-size:1.25em;
    line-height:1.693em;
    margin:1em 0px 1em 0px;
}

.kicker, .pullquote{
    font-weight:100;
}

.run-in{
    font-style:italic;
    font-weight:bold;
}

.pullquote{
    font-style:italic;
    letter-spacing:.05em;
    margin:.5em .7em .3em 0em;
    padding-top:.15em;
    line-height:1.7em;
    display:block;float:left;
    font-size:1.6em;
    width:55%;
}

.pullquote:before {
    font-family:Georgia, serif;
    content: "“";
    font-size:2em;
    text-indent:-.8em;
    margin-top:.05em;
    float:left;
    opacity:.3;
}

.caption{
    font-size:.8em;
    font-style:italic;
    margin:.6em 0 -.2em;
}

.kicker .run-in{
    text-transform:uppercase;
    font-style:normal;
    margin-top: 20px;
    letter-spacing:.25em;
    font-size:.9em;
}

.drop-cap {
    display:block;
    font-style:normal;
    font-size:5.1em;
    float:left;
    margin:.13em .1em 0 0;
    line-height:.67em;
    font-weight:100;
}

/* ==============
      TITLES
============== */

/* Page & Post */
.title{
    text-align: center;
    font-family: "futura", "helvetica", arial, sans-serif;
    font-weight: normal;
}

.title h1{
    font-size: 7em;
}

#entry .title{
    text-align: center;
    font-size: 4em;
    line-height: 1em;
    margin: 0.5em 0;
}

#entry .title a:hover{
    color: #498c34;
}

/* Mobile Scaling */
@media screen and (max-width: 640px){
    #entry .title{
        font-size: 3em;
    }
}
@media screen and (max-width: 400px){
    #entry .title{
        font-size: 2em;
    }
}


/* Header */
header{
    width: 85%;
    margin: 0 auto;
}

header h1, header h2{
    text-align: center;
    font-family: "futura", "helvetica", arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

header h1 a{
    color: #222;
    font-weight: normal;
}

header h1{
    font-size: 10em;
    margin-top: 0px;
    padding: 0px;
    line-height: 1em;
    border-bottom: 10px #498c34 solid;
}

header h2{
    font-size: 4em;
    margin-top: 0px;
}

/* Mobile scaling for header */
@media screen and (max-width: 1064px){
    header h1{
        font-size: 6em;
        border-bottom: 7px #498c34 solid;
    }
    header h2{
        margin-top: 5px;
        font-size: 2em;
    }
}

@media screen and (max-width: 640px){
    header h1{
        font-size: 3em;
        border-bottom: 3px #498c34 solid;
    }
    header h2{
        margin-top: 5px;
        font-size: 1em;
    }
}

/* ==============
      LINKS
============== */

a{
    color: #498c34;
    text-decoration: none;
    font-weight: bold;
}

p a:hover{
    color: #222;
}

#nav a{
    color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .title a{
    color: #222;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
    color: #498c34;
}