@import 'basics';

//					//
//	  NAVIGATION   	//
//					//

ul#nav{
	position: fixed;
	top: 0px;
	z-index: 5;

	padding: 15px;
	margin: 0px 10px;

	list-style: none;
	background-color: white;

	border: 1px $light solid;

	@media screen and (max-width: $tabletb){
		width: 30%;
		padding: 10px;
	}

	&:before{
		@media screen and (max-width: $tabletb){
			content: "Navigate PearShaped";
		}
	}

	&:hover li{
		@media screen and (max-width: $tabletb){
			display: block;
		}
	}

	li{
		display: inline;
		padding: 15px;

		@media screen and (max-width: $tabletb){
			display: none;
			padding: 5px;
			overflow: hidden;
		}

		&:first-child{
			@media screen and (max-width: $tabletb){
				margin-top: 10px;
			}
		}

		&:hover{
			background-color: $psgreen;
		}

		a{
			color: $text;
		}
	}
}

// Social Buttons
.social{
	img{
		max-width: 20px;
	}
	display: inline-block;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	@media screen and (max-width: $tabletb){
		display: none;
	}
}


//					//
//	    REVIEWS   	//
//					//

.album{
	margin-bottom: 40px;

	a:hover img{
		opacity: 0.5;
	}
}


//					//
//	    EVENTS   	//
//					//

@import 'stroll';

//					//
//	   FEATURES   	//
//					//

.hero{
	line-height: 0.8em;
	margin: 0.1em;
}


//					//
//	     SHAME      //
//					//

#featured{
	list-style-type: none;
}