ul#nav {
  position: fixed;
  top: 0px;
  z-index: 5;
  padding: 15px;
  margin: 0px 10px;
  list-style: none;
  background-color: white;
  border: 1px #eeeeee;
}
@media screen and (max-width: 1063px) {
  ul#nav {
    width: 30%;
    padding: 10px;
  }
}
@media screen and (max-width: 1063px) {
  ul#nav:before {
    content: "Navigate PearShaped";
  }
}
@media screen and (max-width: 1063px) {
  ul#nav:hover li {
    display: block;
  }
}
ul#nav li {
  display: inline;
  padding: 15px;
}
@media screen and (max-width: 1063px) {
  ul#nav li {
    display: none;
    padding: 5px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1063px) {
  ul#nav li:first-child {
    margin-top: 10px;
  }
}
ul#nav li:hover {
  background-color: #498c34;
}

.album {
  margin-bottom: 40px;
}
.album a:hover img {
  opacity: 0.5;
}

ul.cards {
  position: relative;
  width: 100%;
  max-height: 300px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
}

ul.cards li {
  position: relative;
  padding: 16px;
  margin: 0;
  color: #222;
  font-size: 18px;
  z-index: 2;
  text-transform: uppercase;
  background: #eee;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

ul.cards li:hover {
  background-color: #498c34;
}

ul.cards li a {
  color: #222;
  font-weight: 200;
}

ul.cards li a b, ul.cards li a strong {
  font-weight: 900;
}

ul.cards li a:hover {
  color: white;
}

.cards {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.cards li {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.cards li.past {
  -webkit-transform: translate3d(0, -100px, -100px) rotateX(-90deg);
  -moz-transform: translate3d(0, -100px, -100px) rotateX(-90deg);
  -ms-transform: translate3d(0, -100px, -100px) rotateX(-90deg);
  -o-transform: translate3d(0, -100px, -100px) rotateX(-90deg);
  transform: translate3d(0, -100px, -100px) rotateX(-90deg);
}

.cards li.future {
  -webkit-transform: translate3d(0, 100px, -100px) rotateX(90deg);
  -moz-transform: translate3d(0, 100px, -100px) rotateX(90deg);
  -ms-transform: translate3d(0, 100px, -100px) rotateX(90deg);
  -o-transform: translate3d(0, 100px, -100px) rotateX(90deg);
  transform: translate3d(0, 100px, -100px) rotateX(90deg);
}

.hero {
  line-height: 0.8em;
  margin: 0.1em;
}

#featured {
  list-style-type: none;
}
