@import 'basics';

//					//
//	     GRID    	//
//					//

// Grid Primer
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap{
	margin: $bumpdown auto $leadout auto;
	max-width: $fullwidth;
}

// The Meat of the Grid
.row{
	overflow:hidden;
}

.columns{
	float: left;
	margin-left: $gutter;

	&:first-child{
		margin-left: 0;
	}
}

.twelve.columns{
	width:100%;
}

.eight.columns{
	width:65%;
}

.six.columns{
	width:47.5%;
}
 
.four.columns{
	width:30%;
}
 
.three.columns{
	width:21.25%;
}

.clearfix{
	*zoom: 1;
	&:before, &:after{
		content:" ";
		display:table;
	}

	&:after{
		clear: both;
	}
}

// Mobile Squash
.twelve.columns, .eight.columns, .six.columns, .four.columns, .three.columns{
	@media screen and (max-width: $mobileb){
		float: none;
		margin: 0;
		width: 100%;
		margin-bottom: $bumpdown;
	}
}

//					//
//	     CARDS    	//
//					//

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

.size-1of3, .size-1of2, .size-1of1{
	h1, h2, h3, h4, h5, h6{
	text-align: center;
	margin-top: 0px;
	}
}

.card{
	padding: 10px;
	border: 1px $light solid;
	margin: 20px 10px;
	overflow: hidden;
}

#grid[data-columns]::before {
	@media screen and (max-width: $mobileb){
		content: '1 .column.size-1of1';
	}
	@media screen and (min-width: $tableter) {
		content: '2 .column.size-1of2';
	}
	@media screen and (min-width: $tableter) {
		content: '3 .column.size-1of3';
	}
}



//					//
//	     MODS    	//
//					//

img{
	width: 100%;
}

p>img{
	margin: 0;
}

.big{
	@media screen and (max-width: $mobileb){
		display: none;
	}
}

.center{
	text-align: center;
}

#entry{
	margin-bottom: $leadout;
}
