@import 'basics';

//					//
//	     GRID    	//
//					//

// Grid Primer
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap{
	margin: $bumpdown auto $leadout auto;
	max-width: $fullwidth;
}

// The Meat of the Grid
.row{
	overflow:hidden;
}

.columns{
	float: left;
	margin-left: $gutter;

	&:first-child{
		margin-left: 0;
	}
}

.twelve.columns{
	width:100%;
}

.eight.columns{
	width:65%;
}

.six.columns{
	width:47.5%;
}
 
.four.columns{
	width:30%;
}
 
.three.columns{
	width:21.25%;
}

.clearfix{
	*zoom: 1;
	&:before, &:after{
		content:" ";
		display:table;
	}

	&:after{
		clear: both;
	}
}

// Mobile Squash
.columns{
	@media screen and (max-width: $mobileb){
		float: none;
		margin: 0;
		width: 100%;
		margin-bottom: $bumpdown;
	}
}


//					//
//	     MODS    	//
//					//

img{
	width: 100%;
}

.big{
	@media screen and (max-width: $mobileb){
		display: none;
	}
}

.center{
	text-align: center;
}

#entry{
	margin-bottom: $leadout;
}
