//					//
//	   IMPORTS  	//
//					//

@import 'basics';
@import 'fonts';


//					//
//	    FONTS   	//
//					//

body{
	font-size: $baseline;
	line-height: $lineheight;
	font-family: $bodyfont;
	color: $text;
}

h1, h2, h3, h4, h5, h6{
	@include header;
}

.title, #nav, .cards, .date{
	@include title;
}


//					//
//	  PROPORTIONS   //
//					//

h1, h2, h3, h4, h5, h6{
	margin-top: $headmargin;
	margin-bottom: $headmarginb;

	a{
		color: $text;

		&:hover{
			color: $psgreen;
		}
	}
}

$h1: 50px;
$h2: 40px;
$h3: 30px;
$h4: 24px;
$h5: 20px;
$h6: 18px;

//					//
//	FULL HEADERS 	//
//					//
h1{
	font-size: $h1;
}

h2{
	font-size: $h2;
}

h3{
	font-size: $h3;
}

h4{
	font-size: $h4;
}

h5{
	font-size: $h5;
}

h6{
	font-size: $h6;
}

//					//
//	TABLET HEADERS 	//
//					//
@media screen and (max-width: $tabletb){
	h1{
		font-size: $h1 * $tableter;
	}

	h2{
		font-size: $h2 * $tableter;
	}

	h3{
		font-size: $h3 * $tableter;
	}

	h4{
		font-size: $h4 * $tableter;
	}

	h5{
		font-size: $h5 * $tableter;
	}

	h6{
		font-size: $h6 * $tableter;
	}

	h1, h2, h3, h4, h5, h6{
		margin-top: $headmargin * $tableter;
		margin-bottom: $headmarginb * $tableter;
	}
}

//					//
//	MOBILE HEADERS 	//
//					//
@media screen and (max-width: $mobileb){
	h1{
		font-size: $h1 * $mobiler;
	}

	h2{
		font-size: $h2 * $mobiler;
	}

	h3{
		font-size: $h3 * $mobiler;
	}

	h4{
		font-size: $h4 * $mobiler;
	}

	h5{
		font-size: $h5 * $mobiler;
	}

	h6{
		font-size: $h6 * $mobiler;
	}

	h1, h2, h3, h4, h5, h6{
		margin-top: $headmargin * $mobiler;
		margin-bottom: $headmarginb * $mobiler;
	}
}


//					//
//	HTML ELEMENTS 	//
//					//

strong, b{
	font-weight: bold;
}

em, i{
	font-style: italic;
}

a{
	color: $psgreen;
	text-decoration: none;
	font-weight: bold;

	&:hover{
		color: $text;
	}
}

small{
	display: block;
	font-size: $baseline * 0.7;
	margin: $baseline;
	font-style: italic;
}

blockquote{
	font-style: italic;
	opacity: $fuzz;
}

p{
	margin-top: 1em;
	margin-bottom: 1em;
	hyphenate: auto;
	orphans: 4;
}

ul, ol, form{
	margin-top: 1em;
	margin-bottom: 1em;
}

ol{
	list-style-position: outside;
	list-style-type: decimal;
}

sup, .superscript{
	font-size: xx-small;
    vertical-align: top;
}

hr{
    border: none;
    border-bottom: 1px solid #eee;
}

//					//
//	  COSMETICS 	//
//					//

.kicker{
	font-size: $baseline * 1.25;
	line-height: $baseline * 1.25;

	.run-in{
		text-transform: uppercase;
		font-weight: bold;
	}
}

.drop-cap{
	display: block;
	font-size: $baseline * 5;
	float: left;
}


//					//
//	    TITLES   	//
//					//

.title{
	text-align: center;
	font-weight: bold;

	h1{
		font-size: $baseline * 7;

		a{
			color: $text;

			&:hover{
				color: $psgreen;
			}
		}

		@media screen and (max-width: $tabletb){
			font-size: $baseline * 7 * $tableter;
		}

		@media screen and (max-width: $mobileb){
			font-size: $baseline * 7 * $mobiler;
		}
	}
}

//					//
//	    HEADER  	//
//					//

header{
	width: 85%;
	margin: 0 auto;

	h1, h2{
		text-align: center;
		font-weight: normal;
		margin-top: 0;
		padding: 0;

		a{
			color: $text;

			&:hover{
			color: $psgreen;
			}
		}
	}

	h1{
		font-size: $baseline * 10;

		border-bottom: $pline $psgreen solid;

		@media sceeen and (max-width: $tabletb){
			font-size: $baseline * 10 * $tableter;
		}

		@media sceeen and (max-width: $mobileb){
			font-size: $baseline * 10 * $mobiler;
		}
	}

	h2{
		font-size: $baseline * 5;

		@media sceeen and (max-width: $tabletb){
			font-size: $baseline * 5 * $tableter;
		}

		@media sceeen and (max-width: $mobileb){
			font-size: $baseline * 5 * $mobiler;
		}
	}
}

