/////////////////////
//				   //
//   BREAKPOINTS   //
//                 //
/////////////////////

$br-tablet: 960px !global;
$br-mobile: 650px !global;

// For hiding elements in the site header
$br-fullwidth: 1200px !global;

// For bumping content under a growing top bar
$br-top3rows: 500px !global;

/////////////////////
//				   //
//	  COLOURS      //
//                 //
/////////////////////

$green: #498c34 !global;
$grey: #ddd !global;
$white: #fff !global;
$black: #222 !global;

/////////////////////
//				   //
//	    FONTS      //
//                 //
/////////////////////

// Font stack declaration
$bodyfont: Georgia, serif;
$headerfont: 'aleo', 'adelle', 'helvetica', arial, sans-serif;
$titlefont: 'futura-alt', 'futura', 'futura-pt', arial, sans-serif;

// Standard font styles
@mixin header{
    font-family: $headerfont;
    font-weight: bold;
}
@mixin title{
    font-family: $titlefont;
    text-transform: uppercase;
    font-weight: normal !important;
}
@mixin lowertitle{
	font-family: $titlefont;
    font-weight: normal !important;
}
@mixin swishheader{
	font-family: $bodyfont;
	font-size: 4em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: $green;
}

////////////////////////////
//				          //
//	    MIXIN LIBRARY     //
//                        //
////////////////////////////

@mixin makeGrid($columns, $margin) {
  width: ((99% - (($columns) * $margin)) / $columns);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
}

/////////////////////
//				   //
//	    LAYOUT     //
//                 //
/////////////////////

// Flexbox prefixing
@mixin flexbox{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flexbox-wrap{
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flexbox-center{
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
}

// Box model settings
@mixin box{

	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}

// Basic column width calculator
@mixin column($divisor, $width, $padding){

	@include box;
	float: left;
	padding: $padding;
	max-width: (100% / $divisor) * $width - 0.01%;

}

// Centered columns
@mixin centercolumn($divisor, $width, $padding){

	@include box;
	padding: $padding;
	max-width: (100% / $divisor) * $width - 0.01%;
	float: none;
	margin: 0 auto;

}

// Breakpoint collapse
@mixin collapse($breakpoint, $width){

	@media screen and (max-width: $breakpoint){
		float: none;
		max-width: $width;
		margin: 0 auto;
	}

}

/////////////////////
//				   //
//	  DECORATION   //
//                 //
/////////////////////

// Border generator
@mixin border($type){

	$grey: #eee;
	$green: #498c34;

	@if $type == "box"{
		border: 1px $grey solid;
	}

	@else if $type == "divider-top"{
		border-top: 1px $grey solid;
	}

	@else if $type == "divider-bottom"{
		border-bottom: 1px $grey solid;
	}

	@else if $type == "heavy-line"{
		border-top: 5px $green solid;
	}

}

// Inline list
@mixin inline-list {

  list-style-type: none;

  &, & li {

    margin: 0px;
    padding: 0px;
    display: inline;

  }

}

// Link styling generator
@mixin link($type){

	@if $type == "underline"{
		color: inherit;
		font-weight: inherit;
		text-decoration: underline;
	}

	@else if $type == "bold"{
		color: inherit;
		font-weight: bold;
		text-decoration: none;
	}

	@else if $type == "plain"{
		color: $green;
		font-weight: normal;
		text-decoration: underline;
	}

	@else if $type == "naked"{
		color: $green;
		font-weight: normal;
		text-decoration: none;
	}
	@else if $type == "hover"{
		color: inherit;
		font-weight: normal;
		text-decoration: none;
		&:hover{
			color: $green;
		}
	}

}