/*====================================*\
    #PAGES
\*====================================*/




/*------------------------------------*\
    #OLD-HOMEPAGE
\*------------------------------------*/

/**
 * Quite a bold media query that removes the slider altogether for
 * mobile users. !important rules overrule stylesheets injected at
 * the end of the cascade by the slider plugin.
 */
.slider{
	@include border("divider-bottom");
	padding-bottom: 50px;
	@media screen and (max-width: $br-mobile){
		display: none;
	}
}

	.caption{
		font-size: 16px;
		padding: 10px !important;
	}

	.caption-wrap{
		opacity: 1 !important;
	}

.cat-box{
	max-width: 1000px;
	margin: 0 auto;
	@include border("divider-bottom");

	@media screen and (max-width: $br-tablet){
		float: none;
		width: 100%;
	}
}

	.cat-box h1{
		@include swishheader;
		font-size: 30px;
	}

	.cat-box__module{
		width: 32.5%;
		display: inline-block;
		vertical-align: top;
		h4{
			@include lowertitle;
			margin-top: 5px;
			text-align: center;
		}
		.post-category-info{
			text-align: center;
			margin: 0 auto;
			border: none;
			@media screen and (max-width: $br-tablet){
				display: none;
			}
		}
	}

	.cat-box__image{
		display: block;
		max-height: 200px;
		overflow: hidden;
	}

.text-column{
	max-width: 45em;
	padding: 0 1em;
	margin: 0 auto;
	h1{
		text-align: center;
	}
	p{
		text-align: justify;
	}
}





/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/

.home-reviews{
	margin: 0 auto;
	padding: 0 1em;
	max-width: 1000px;
}

	.home-reviews__stream{
		display: flex;
	}

	.home-reviews__item img:hover{
		opacity: 0.3;
	}

.home-events{
	margin: 4em auto 0;
	max-width: 1000px;
	display: flex;
	@include border(divider-top);

	@media screen and (max-width: $br-mobile){
		display: block;
	}
}

	.home-events > *{
		flex: 1;
		padding: 0 1em;
	}

	.home-upcoming__item{
		
		display: flex;

		& > div:first-child{
			width: 100px;
			height: auto;
		}

		& > div:nth-child(2){
			flex: 1;
			padding: 0 0.5em;
		}

		h1{
			margin: 0;
			font-family: $titlefont;
			font-size: 18px;
		}

		p{
			margin: 0.5em 0;
			padding: 0;
		}
	}

	.home-event-reviews__item{
		@extend .home-upcoming__item;
	}

.home-misc{
	margin: 4em auto 0;
	max-width: 1000px;
	display: flex;
	@include border(divider-top);

	@media screen and (max-width: $br-mobile){
		display: block;
	}

}

	.home-misc > *{
		flex: 1;
		padding: 0 1em;
	}

	.home-columns__item{
		background: $grey;
		padding: 1em;
		h1{
			font-family: $titlefont;
			margin: 0 auto 0.7em;
			text-align: center;
			font-size: 18px;
		}

		img:hover{
			opacity: 0.3;
		}
	}

	.home-interviews__item{
		@extend .home-columns__item;
	}

.home-about{
	margin: 4em auto 0;
	max-width: 45em;
	padding: 0 1em;
	@include border(divider-top);

	h1{
		text-align: center;
	}
}


/*------------------------------------*\
    #CATEGORY
\*------------------------------------*/

.preview-stream{
	max-width: 70em;
	margin: 0 auto;
}

	.preview-stream__item{
		padding: 1em;
		@include flexbox;

		.columns{
			padding: 0.2em;
		}

		p{
			font-size: 1.1em;
		}
	}

	.preview-stream__item__image{
		@include flex(1);
		padding: 0 1em;
		@media screen and (max-width: $br-mobile){
			display: none;
		}
	}

	.preview-stream__item__info{
		@include flex(2);
	}

	.preview-stream__item__title{
		margin-top: 0;
		margin-bottom: 10px;
		width: 100%;
		@include border("divider-bottom");
	}

	.preview-stream__item__author{
		margin: 0;
		padding: 0;
	}

	
	/**
	 * Wordpress passes first bits of content through as preview
	 * but we want all the text to come out as sanitised text.
	 */
	.preview-stream__item__content{
		
		.kicker,
		h1, h2, h3, h4, h5, h6,
		strong{
			font-size: 15.4px;
			font-weight: 400 !important;
			font-style: normal;
			font-family: $bodyfont;
			line-height: 1.25em;
		}
	}

	.read-more-link{
		color: $green;
		text-decoration: underline;
	}

	.preview-stream__item__more-link{
		color: $green;
	}


/**
 * Some categories have subcategories, which are accessible via
 * this sub-navigation panel. The series of (usually) three links
 * acts like a toggle, with styling mimicking a green :active st-
 * ate.
 */
.category-toggle{
	@include title;
	list-style-type: none;
	text-align: center;
	font-size: 2em;
	margin: 10px;
	padding-left: 0;
	@media screen and (max-width: $br-mobile){
		font-size: 1.5em;
	}
}

	.category-toggle__button{
		padding: 2px 5px;
		display: inline-block;
		a:hover{
			color: $green; // Other categories hover green
		}
	}

	.category-toggle__button_active{
		@extend .category-toggle__button;
		a{
			color: $green;
		}
	}





/*------------------------------------*\
    #LISTINGS
\*------------------------------------*/

.listings-slider{
	padding-bottom: 40px;
	@include border("divider-bottom");
}





/*------------------------------------*\
    #CONTACTUS
\*------------------------------------*/

/**
 * Contact cards are two-up grid layouts, with .contact-card being
 * the wrapper and .contact-card__meta and .contact-card__info be-
 * ing the two columns. Meta is a third and contains the profile
 * image, and Info contains the titles and bios.
 */
.contact-card{
	max-width: 70em;
	margin: 2em auto;
	padding: 0.5em;
}

	.contact-card__meta,
	.contact-card__info{
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}

	.contact-card__meta{
		width: 31%;

		img{
			max-width: 100%;
		}
	}

	.contact-card__info{
		width: 65%;
		padding: 0 0.5em;

		h2{
			font-size: 2em;
			margin: 0 0 0.5em 0;
		}

		h3{
			margin-top: 0;
		}
	}

	.contact-card__title{
		width: 100%;
		@include border("divider-bottom");
	}

	.contact-card__email{
		margin-top: -10px;

		p{
			margin: 0 auto;
			padding-bottom: 10px;
			text-align: center;
			font-style: italic;
		}

		i{
			margin-right: 0.5em;
		}
	}

/**
 * Mobile collapses down to one column, with a small, centered name
 * above a border, with bio underneath.
 */
@media screen and (max-width: $br-mobile){
	.contact-card img{
		display: none;
	}
	.contact-card__meta, .contact-card__info{
		width: 100%;
		img{
			display: block;
			width: 50%;
			margin: 0 auto;
			text-align: center;
		}
	}
	.contact-card__title, .contact-card__incumbent{
		text-align: center;
	}
	.contact-card__title{
		margin-bottom: 10px;
	}
	.contact-card__email{
		display: none;
	}
}





/*------------------------------------*\
    #404
\*------------------------------------*/

.fourohfour{
	text-align: center;
	
	img{
		width: 30%;
		margin: 1em auto;
	}
}