@import 'library';

/////////////////////
//				   //
// HEADER ELEMENTS //
//                 //
/////////////////////

.post-header{
	display: block;
	max-width: 45em;
}

.post-title{
	@include lowertitle;
	font-size: 3em;
	margin: 0px;
}

.author{
	color: $green;
	font-weight: 900;
	@include border("divider-bottom");
	margin-top: 10px;
	margin-bottom: 35px;
}

.sidebar{
	margin-top: 0px;
	padding: 0;
	iframe{
		margin: 0;
		padding: 0;

	}
}

.post-thumbnail{
	display: block;
	max-height: 400px;
	overflow: hidden;
}





/////////////////////
//				   //
//     CONTENT     //
//                 //
/////////////////////

.post-content{
	display: block;
	max-width: 45em;

	margin: 0 auto;
}



/////////////////////
//				   //
//   BREAKPOINTS   //
//                 //
/////////////////////

@media screen and (max-width: 45em){
	.post-content{
		margin: 0 1em 40px 1em;
	}
}

@media screen and (max-width: $br-top3rows){
	h1.post-title{
		margin-top: 20px;
	}
}


/////////////////////
//				   //
//    META DATA    //
//                 //
/////////////////////

// Chevron split list of categories of the post
.post-category-info{

	a{
		@include title;
		color: $green;
	}

	@include border("divider-bottom");
	margin-bottom: 20px;
}

.kicker{
	@include header;
	margin-top: 35px;
	font-size: 1.5em;
	width: 100%;
}

// Specific to event previews and reviews
.giginfo{
	@include title;
}
.giginfo-alt{
	@extend .giginfo;
	margin-top: 1em;
}
.tickets{
	display: block;
	a{
		color: $green;
	}
}

.rating{
	@extend .kicker;
	margin-bottom: 40px;
}

.picks, .fans-of{
	display: block;
	margin-bottom: 20px;
}

.picks-title, .fans-of-title{
	font-weight: bold;
}

// Spit out of all the post tags comma separated
.post-tags{
	font-weight: bold;
	margin: 20px auto;
	a{
		font-weight: normal;
		color: $green;
	}
}

.related-posts{
	border-top: 1px $grey solid;
}

ul.related_post{
	list-style: none;
	padding: 0 !important;
	a{
		color: $green;
	}
}