/*====================================*\
    #POSTS
\*====================================*/




/*------------------------------------*\
    #POSTTITLE
\*------------------------------------*/

.post-header{
	display: block;
	max-width: 45em;
}

.post-title{
	@include lowertitle;
	font-size: 3em;
	margin: 0px;
	@media screen and ($br-mobile){
		font-size: 2.7em;
	}
}

.author{
	color: $green;
	font-weight: 900;
	@include border("divider-bottom");
	margin-top: 10px;
	margin-bottom: 35px;
}

/**
 * Sidebar, despite the name, appears at the bottom of the post
 * and includes an embedded SoundCloud or YouTube player. iframe
 * stops ugly padding.
 */
.sidebar{
	margin-top: 0px;
	padding: 0;

	iframe{
		margin: 0;
		padding: 0;

	}
}

/**
 * Post image is brutally snipped at 400px, perhaps needs center-
 * ing algorithm.
 */
.post-thumbnail{
	display: block;
	max-height: 400px;
	overflow: hidden;
}





/*------------------------------------*\
    #POSTCONTENT
\*------------------------------------*/

.post-content{
	display: block;
	max-width: 45em;
	margin: 75px auto 0 auto;
	padding: 0 1em;

	p{
		font-size: 1.1em;
	}

	p a, p strong a{
		//transition: color .25s ease-in-out;
		//&:hover{ color: $green; }
		color: $green;
		font-weight: normal;
		text-decoration: underline;
	}

	@media screen and (max-width: $br-top3rows){
		margin: 125px auto 0 auto;
	}
}





/*------------------------------------*\
    #METADATA
\*------------------------------------*/

/**
 * A chevron-divided list of the categories of the post.
 */
.post-category-info{

	a{
		@include title;
		color: $green;
	}

	@include border("divider-bottom");
	margin-bottom: 20px;
}

.kicker{
	@include header;
	margin-top: 35px;
	font-size: 1.5em;
	width: 100%;
}

/**
 * Information provided by custom fields.
 */
.giginfo{
	@include title;
}
	.giginfo-alt{
		@extend .giginfo;
		margin-top: 1em;
	}

.tickets{
	display: block;
	a{
		color: $green;
	}
}

.rating{
	@extend .kicker;
	margin-bottom: 40px;
}

.picks,
.fans-of{
	display: block;
	margin-bottom: 20px;
}

	.picks-title,
	.fans-of-title{
		font-weight: bold;
	}

.post-tags{
	font-weight: bold;
	margin: 20px auto;
	a{
		font-weight: normal;
		color: $green;
	}
}

.related-posts{
	margin-top: 40px;
	border-top: 1px $grey solid;
}

	h3.related_post_title{
		font-size: 21px;
	}

	ul.related_post{
		list-style: none;
		padding: 0 !important;
		a{
			color: $green;
		}
	}
