/*====================================*\
    #SETTINGS
\*====================================*/




/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

$br-tablet: 960px !global;
$br-mobile: 650px !global;

/**
 * The very biggest, for hiding stuff on anything but spacious
 * screens.
 */
$br-fullwidth: 1200px !global;

/**
 * Accomodates the fixed top bar which grows taller on mobile
 * screens as the links overflow the line.
 */
$br-top3rows: 500px !global;




/*------------------------------------*\
    #COLOURS
\*------------------------------------*/

$green: #498c34 !global;
$grey: #ddd !global;
$white: #fff !global;
$black: #222 !global;




/*------------------------------------*\
    #FONTS
\*------------------------------------*/

/**
 * Futura. 'Alt' to override user's own copy for uniformity.
 */
@font-face {
    font-family: 'futura-alt';
    src: url('http://pearshapedexeter.com/fonts/futuralt-webfont.eot');
    src: url('http://pearshapedexeter.com/fonts/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://pearshapedexeter.com/fonts/futuralt-webfont.woff') format('woff'),
         url('http://pearshapedexeter.com/fonts/futuralt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**
 * Aleo.
 */
@font-face {
    font-family: 'aleo';
    src: url('http://pearshapedexeter.com/fonts/aleo-bold-webfont.eot');
    src: url('http://pearshapedexeter.com/fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://pearshapedexeter.com/fonts/aleo-bold-webfont.woff') format('woff'),
         url('http://pearshapedexeter.com/fonts/aleo-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/**
 * Font stack declarations. Multiple Futura fallbacks.
 */
$bodyfont: Georgia, serif;
$headerfont: 'aleo', 'adelle', 'helvetica', arial, sans-serif;
$titlefont: 'futura-alt', 'futura', 'futura-pt', arial, sans-serif;

/**
 * Different kinds of headers to include across styles.
 */
@mixin header{
    font-family: $headerfont;
    font-weight: bold;
}
@mixin title{
    font-family: $titlefont;
    text-transform: uppercase;
    font-weight: normal !important;
}
@mixin lowertitle{
	font-family: $titlefont;
    font-weight: normal !important;
}
@mixin swishheader{
	font-family: $bodyfont;
	font-size: 4em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: $green;
}




/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Flexbox always invoked with mixin for prefixing, thanks to Chris
 * Coyier.
 */
@mixin flexbox{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flexbox-wrap{
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flexbox-center{
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
}




/*------------------------------------*\
    #DECORATION
\*------------------------------------*/

/**
 * Generates uniform borders, needs more implementation.
 */
@mixin border($type){

	$grey: #eee;
	$green: #498c34;

	@if $type == "box"{
		border: 1px $grey solid;
	}

	@else if $type == "divider-top"{
		border-top: 1px $grey solid;
	}

	@else if $type == "divider-bottom"{
		border-bottom: 1px $grey solid;
	}

	@else if $type == "heavy-line"{
		border-top: 5px $green solid;
	}

}

/**
 * Flattens out lists.
 */
@mixin inline-list {

  list-style-type: none;

  &, & li {

    margin: 0px;
    padding: 0px;
    display: inline;

  }

}

/**
 * Most unused link styling mixin.
 */
@mixin link($type){

	@if $type == "underline"{
		color: inherit;
		font-weight: inherit;
		text-decoration: underline;
	}

	@else if $type == "bold"{
		color: inherit;
		font-weight: bold;
		text-decoration: none;
	}

	@else if $type == "plain"{
		color: $green;
		font-weight: normal;
		text-decoration: underline;
	}

	@else if $type == "naked"{
		color: $green;
		font-weight: normal;
		text-decoration: none;
	}
	@else if $type == "hover"{
		color: inherit;
		font-weight: normal;
		text-decoration: none;
		&:hover{
			color: $green;
		}
	}

}