@import 'reset'; // CSS Normalise
@import 'library'; // Super library of mixins, variables, and standards for PearShaped
@import 'layout'; // Grid and image layout

// Futura Family
@font-face {
    font-family: 'futura-alt';
    src: url('http://pearshapedexeter.com/fonts/futuralt-webfont.eot');
    src: url('http://pearshapedexeter.com/fonts/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://pearshapedexeter.com/fonts/futuralt-webfont.woff') format('woff'),
         url('http://pearshapedexeter.com/fonts/futuralt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Aleo Family
@font-face {
    font-family: 'aleo';
    src: url('http://pearshapedexeter.com/fonts/aleo-bold-webfont.eot');
    src: url('http://pearshapedexeter.com/fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://pearshapedexeter.com/fonts/aleo-bold-webfont.woff') format('woff'),
         url('http://pearshapedexeter.com/fonts/aleo-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/////////////////////
//				   //
//  TYPE ELEMENTS  //
//                 //
/////////////////////

html{
	font-family: $bodyfont;
	font-size: 14px;
}

p{
	line-height: 1.25em;
}

b, strong{
	font-weight: bold;
}

i, em{
	font-style: italic;
}

h1, h2, h3, h4, h5, h6, .caption{
	@include header;
}

hr{
	border: 0;
	height: 1px;
	color: $grey;
	background: $grey;
}

blockquote{
	margin: 0;
	padding: 0em 0em 0em 1em;

	font-size: 1.05em;
	font-style: italic;
	opacity: 0.9;
	border-left: 3px $green solid;
}

// Green haze on search form focus
input:focus, select:focus, textarea:focus {
	outline-color: $green;
}






/////////////////////
//				   //
//     NAV BAR     //
//                 //
/////////////////////

.nav-bar{
	position: relative;
	width: 100%;
	z-index: 3;

	// Non-implemented sticky property
	position: -webkit-sticky;
	top: 0;

	@include title;
	text-align: center;
	font-size: 1.2em;
	background-color: $white;
	@include border("divider-bottom");
	@include border("heavy-line");

	margin-bottom: 25px;
}

	.nav-bar__list{
		list-style-type: none;
		margin: 5px 0;
		padding-left: -40px;
		display: inline-block;

		padding: 0;

		li{
			display: inline-block;
			margin-right: 0.5em;
			a:hover{
				color: $green;
			}
		}
	}

	// For jQuery sticky polyfill
	.sticky{
		position: fixed;
	}


/////////////////////
//				   //
//   SIDE HEADER   //
//                 //
/////////////////////


.site-header{
	text-align: right;
}

	.site-header__title{
		@include title;
		font-size: 6em;
		font-weight: 500;
		text-align: center;
		
		margin: 0 auto;
		width: auto;

		@media screen and (max-width: $br-tablet){
			font-size: 4em;
		}

		@media screen and (max-width: $br-mobile){
			font-size: 3em;
		}
	}

	.site-header__social-icons{
		position: absolute;
		left: 10px;
		top: 80px;
		i{
			margin-right: 5px;
		}
		@media screen and (max-width: $br-fullwidth){
			display: none;
		}
	}

	#searchform{
		display: block;
		margin-right: 10px;
		margin-top: -30px;
		padding-bottom: 10px;
		.screen-reader-text{
			display: none;
		}
		// The search input field //
		#s{
			width: 7em;
		}
		// The search button //
		#searchsubmit{
			@include title;
			border-radius: 0;
		}
		@media screen and (max-width: $br-fullwidth){
			display: none;
		}
	}

@media screen and (max-width: $br-fullwidth){
	#searchform, .site-header__social-icons{
		display: none;
	}
}

.nav-bar__list, #searchform, .site-header__social-icons{
	vertical-align: middle;
}

/////////////////////
//				   //
//      FOOTER     //
//                 //
/////////////////////

/*.footer{
	display: block;
	text-align: center;
	border-top: 1px solid $grey;
	margin-bottom: 2em;
	width: 100%;
	@media screen and (max-width: $br-mobile){
		margin: 0;
	}
}*/

.footer{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	padding-bottom: 20px;
	
	border-top: 1px solid $grey;
	background: $grey;
	font-family: 'futura-alt';
}

.footer-alt{
	text-align: left;
	h2{
		font-size: 20px;
		margin-bottom: 0;
	}
	h2,small{
		padding: 0 10px;
		font-family: 'futura-alt';
	}
}
.footer-nav{
	display: flex;
}
ul.footer-list{
	list-style: none;
	padding: 0 10px;
	a:first-child{
		text-decoration: underline;
	}
	li{
		line-height: 1.3em;
	}
}


/////////////////////
//				   //
//    CAT HEADER   //
//                 //
/////////////////////

.section-header{
	margin-bottom: 20px;
}

	.section-header__title{
		@include swishheader;
		margin: 0 auto;

		@media screen and (max-width: $br-mobile){
			font-size: 2em;
		}
	}


/////////////////////
//				   //
//   LINK SECTION  //
//                 //
/////////////////////

.link-section{
	padding: 0.5em;
	text-align: center;
	width: 100%;
	@include border("divider-bottom");
}

	.link-section__title{
		@include title;
		font-size: 2em;
		a{
			color: $green;
			&:hover{
				color: $black;
			}
		}
	}

.link-section-green{
	padding: 0.2em;
	text-align: center;
	width: 100%;
	@include border("divider-bottom");
}

	.link-title-green__title{
		font-family: georgia;
		font-weight: bold;
		font-style: italic;
		font-size: 1.5em;
		a{
		color: $green;
			&:hover{
				color: $black;
			}
		}
	}

.link-section-mobile{
	@extend .link-section;
	display: none;
	@media screen and (max-width: $br-mobile){
		display: block;
	}
}








/////////////////////
//				   //
//   THUMB GRID    //
//                 //
/////////////////////

.thumbnail-grid{
	max-width: 1202px;
	margin: 0 auto;
	text-align: left;
	h2{
		margin-bottom: 5px;
	}
}

	.thumbnail-grid__item{
		display: inline-block;
		vertical-align: top;
		text-align: center;

		a:hover img{
			opacity: 0.5;
		}

		@include makeGrid(4, 2%);
		@media screen and (max-width: $br-tablet){
			@include makeGrid(3, 2%);
		}
		@media screen and (max-width: $br-mobile){
			@include makeGrid(2, 2%);
			width: 100% !important;
		}
	}

	.thumbnail-grid__item__title{
		@include lowertitle;
		display: block;
		width: 100%;
	}

	span.thumbnail-grid__item__title{
		font-size: 1.5em;
	}

// Tighter spacing for mobile screens //
@media screen and (max-width: $br-mobile){
	.thumbnail-grid__item{
	width: 48%;
	}
	.thumbnail-grid__item__title{
		display: none; // Post titles look gross when squished up
	}
}





/////////////////////
//				   //
// DIRECTORY GRID  //
//                 //
/////////////////////

.directory-card{
	@extend .thumbnail-grid__item;
}

	.directory-card__title{
			font-size: 1.5em;
		}

	.directory-card__links{
		margin-top: 0;
		a:hover{
			color: $black;
		}
	}

/////////////////////
//				   //
//  HIDES & FIXES  //
//                 //
/////////////////////

#wpstats{
	display: none;
}

@import 'pages';
@import 'posts';