@import 'head'; // Wordpress Theme Information
@import 'reset'; // CSS Normalise
@import 'fonts'; // Font imports and basic definitions
@import 'layout'; // Grid and image layout

// Font family basics //
body{
	font-family: $bodyfont;
	font-size: 14px; // Type baseline
}

h1, h2, h3, h4, h5, h6, .caption{
	@include header;
}

.top-bar,
.site-title,
.site-sub-title,
.category-toggler,
.cards,
#searchsubmit{
	@include title;
}




//							   //
// Standard Variables & Mixins //
//							   //

// Theme Colours //
$white: #fff;
$black: #222;
$green: #498c34;
$grey: #ddd;
$charcoal: #363636;

// Standard Border Mixin //
@mixin faint-border{
	border-bottom: 1px solid $grey;
}




//							   //
//   Standard Type Elements    //
//							   //

b, strong{
	font-weight: bold;
}

i, em{
	font-style: italic;
}

p{
	font-size: 1.1em;
	line-height: 1.25em;
}

hr{
	border: 0;
	height: 1px;
	color: $grey;
	background: $grey;
}

blockquote{
	margin: 0;
	padding: 0em 0em 0em 1em;

	font-size: 1.05em;
	font-style: italic;
	color: $charcoal;
	border-left: 3px $green solid;
}

// Overriding gross styling //
.simplePullQuote{
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	p{
		text-indent: 0 !important;
	}

	font-style: italic;
	font-size: 1.4em;
	color: $charcoal;

	border-top: 1px $green solid !important;
	border-bottom: 1px $green solid !important;

	margin: 0 1em !important;
}

input:focus, select:focus, textarea:focus {
	outline-color: $green;
}






//							   //
//	Top Bar Navigation Module  //
//							   //

.top-bar{
	position: relative;
	width: 100%;
	z-index: 3;

	// Non-implemented sticky property
	position: -webkit-sticky;
	top: 0;

	font-size: 1.2em;
	background-color: $white;
	@include faint-border;
	border-top: 5px solid $green;

	margin-bottom: 25px;
}

// To center all the top bar elements //
.top-bar-wrap{
	text-align: center;
}

// For jQuery sticky polyfill
.sticky{  
	position: fixed;
}

// Vertically align all of the top bar elements //
.nav, #searchform, .social{
	vertical-align: middle;
}

.nav{
	list-style-type: none;
	margin: 5px 0;
	padding-left: -40px; // Reset bullet point space
	display: inline-block;

	padding: 0;

	li{
		display: inline-block;
		margin-right: 0.5em;
		a:hover{
			color: $green; // Hovering over nav links makes them go green
		}
	}
}

// PearShaped title in nav bar //
.top-bar-title{
	font-size: 1.2em;
	color: $green;
}

// Hiding the search box and social links when they start to overflow //
@media screen and (max-width: $br-fullwidth){
	#searchform, .social{
		display: none;
	}
}






//							   //
//	     Footer Styling        //
//							   //

.footer{
	display: block;
	text-align: center;
	border-top: 1px solid $grey;
	margin-bottom: 2em;
	width: 100%;
	@media screen and (max-width: $br-mobile){
		margin: 0;
	}
}







//							   //
//		Front Page Header      //
//							   //

.site-header{
	text-align: right;
	@include faint-border;
}

h1.site-title{
	font-size: 6em;
	font-weight: 500;
	line-height: 0.9em;
	text-align: center;
	
	margin: 0 auto;
	padding: 15px 0;

	width: auto;
}

.site-sub-title{
	font-size: 4em;
}

// Scaling down the header for mobile screens
@media screen and (max-width: 796px){
	h1.site-title{
		font-size: 4em;
	}
	.site-sub-title{
		font-size: 2em;
	}
}

.social{
	position: absolute;
	left: 10px;
	top: 75px;
	img{
		max-width: 25px;
	}
	@media screen and (max-width: $br-fullwidth){
		display: none;
	}
}

#searchform{
	display: block;
	margin-right: 10px;
	margin-top: -30px;
	padding-bottom: 10px;
	.screen-reader-text{
		display: none;
	}
	// The search input field //
	#s{
		width: 7em;
	}
	// The search button //
	#searchsubmit{
		border-radius: 0;
	}
	@media screen and (max-width: $br-fullwidth){
		display: none;
	}
}







//							   //
//   Section/Category Header   //
//							   //

.section-header{
	// margin-top: -15px; // Compensating for top-bar margin from front-page +10px
	margin-bottom: 20px;
}

.section-title{
	font-family: Georgia;
	font-size: 4em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: $green;

	margin: 0 auto;

	// Scaling header for smaller screens //
	@media screen and (max-width: $br-fullwidth){
		font-size: 4em;
	}
	@media screen and (max-width: $br-fullwidth){
		font-size: 3.2em;
	}
	@media screen and (max-width: $br-mobile){
		font-size: 3em;
	}
}






//							   //
//    Sub-Category Toggler     //
//							   //

.category-toggler{
	list-style-type: none;
	text-align: center;
	font-size: 2em;
	margin: 10px;
	padding-left: 0;
}

.button, .button-active{
	padding: 2px 5px;
	display: inline-block;
	a:hover{
		color: $green; // Other categories hover green
	}
}

.button-active a{
	color: $green;
}






//							   //
//   Category Preview Stream   //
//							   //

.preview-stream{
	max-width: 70em;
	margin: 0 auto;
}

.preview-item{
	padding: 1em;
	.columns{
		padding: 0.2em;
	}
	p{
		font-size: 1.1em;
	}
	@media screen and (max-width: $br-mobile){
		img{
			display: none;
	}
	}
}

.preview-title{
	margin-top: 0; // Brings the title up the top of the padding
	margin-bottom: 10px;
	width: 100%;
	border-bottom: 1px $grey solid;
}

.preview-author{
	margin: 0;
	padding: 0;
}

.preview-content{

	.kicker, h1, h2, h3, h4, h5, h6, strong{
		font-size: 15.4px;
		font-weight: 400 !important;
		font-style: normal;
		font-family: georgia;
		line-height: 1.25em;
	}

	.column, .columns{
		width: 100%;
		float: none;
	}
}

.more-link{
	color: $green;
}

// Narrower stream for the listings page
.listings-stream{
	max-width: 50em;
	margin: 0 auto;
}

// Caps images like in single.php
.listings-content{
	@extend .preview-content;
	display: block;
	max-height: 400px;
	overflow: hidden;
}







//							   //
//  Centered Big Link Section  //
//							   //

.link-section{
	padding: 0.5em;
	text-align: center;
	width: 100%;
	border-bottom: 1px $grey solid;
}

.link-title{
	@include title;
	font-size: 2em;
	a{
		color: $green;
		&:hover{
			color: $black;
		}
	}
}

// Variant that only shows up on mobile //
.link-section-mobile{
	@extend .link-section;
	display: none;
	@media screen and (max-width: $br-mobile){
		display: block;
	}
}








//							   //
//	   Standard Thumb Grid     //
//							   //

// Keeps those pesky month headers in line
.thumbnail-grid-wrapper{
	max-width: 1202px;
	margin: 0 auto;
	h2{
		margin-bottom: 5px;
	}
}

.thumbnail-grid{
	text-align: left;
}

.thumbnail-card{
	display: inline-block;
	width: 24.2%;
	vertical-align: top;

	text-align: center;

	padding: 5px;
	margin: 4px 3px;

	a{

		&:hover img{
			opacity: 0.5;
		}
	}
}

.thumbnail-title{
	font-family: 'futura';
}

span.thumbnail-title{
	font-size: 1.5em;
}

// Tighter spacing for mobile screens //
@media screen and (max-width: $br-mobile){
	.thumbnail-card{
	width: 48%;
	}
	.thumbnail-title{
		display: none; // Post titles look gross when squished up
	}
}





//							   //
//  Directory Grid Variation   //
//							   //

.directory-card{
	@extend .thumbnail-card;
	width: 23.8%;
	margin: 4px 5px;
	.thumbnail-title{
		font-size: 2em;
	}
}

.directory-links{
	margin-top: 0;
	a:hover{
		color: $black;
	}
}

@import 'pages';
@import 'posts';