@font-face {
  font-family: 'futura';
  src: url("http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot");
  src: url("http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.tumblr.com/gjd1903/cNon0zpyd/futuralt-webfont.woff") format("woff"), url("http://static.tumblr.com/gjd1903/DK3n0zpxx/futuralt-webfont.ttf") format("truetype"), url("http://static.tumblr.com/gjd1903/zKNn0zpx0/futuralt-webfont.svg#futura") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleo';
  src: url("http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot");
  src: url("http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.tumblr.com/gjd1903/rDin0zqbx/aleo-bold-webfont.woff") format("woff"), url("http://static.tumblr.com/gjd1903/s9Mn0zqc9/aleo-bold-webfont.ttf") format("truetype"), url("http://static.tumblr.com/gjd1903/yfTn0zqcq/aleo-bold-webfont.svgg#aleo") format("svg");
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 14px;
  line-height: 1.5em;
  font-family: Georgia, serif;
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "aleo", "helvetica", arial, sans-serif;
  font-weight: bold;
}

.title, #nav, .cards, .date {
  font-family: "futura", "helvetica", arial, sans-serif;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 5px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #222222;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #498c34;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.2em;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a {
  color: #498c34;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #222222;
}

small {
  display: block;
  font-size: 9.8px;
  margin: 14px;
  font-style: italic;
}

blockquote {
  font-style: italic;
  opacity: 0.8;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
  hyphenate: auto;
  orphans: 4;
}

ul, ol, form {
  margin-top: 1em;
  margin-bottom: 1em;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

sup, .superscript {
  font-size: xx-small;
  vertical-align: top;
}

hr {
  border: none;
  border-bottom: 1px solid #eeeeee;
}

.kicker {
  font-size: 17.5px;
  padding: 1em;
}
.kicker .run-in {
  text-transform: uppercase;
  font-weight: bold;
}

.drop-cap {
  display: block;
  font-size: 70px;
  float: left;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.title a {
  color: #222222;
}
.title a:hover {
  color: #498c34;
}
@media screen and (max-width: 1063px) {
  .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 30px;
  }
}

header {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
header h1, header h2 {
  font-family: "futura", "helvetica", arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
header h1 a, header h2 a {
  font-weight: normal;
  color: #222222;
}
header h1 a:hover, header h2 a:hover {
  color: #498c34;
}
header h1 {
  border-bottom: 10px #498c34 solid;
  font-size: 120px;
}
@media screen and (max-width: 1063px) {
  header h1 {
    border-bottom: 7.5px #498c34 solid;
    font-size: 80px;
  }
}
@media screen and (max-width: 640px) {
  header h1 {
    border-bottom: 5px #498c34 solid;
    font-size: 60px;
  }
}
header h2 {
  margin-top: 10px;
  font-size: 40px;
}
@media screen and (max-width: 1063px) {
  header h2 {
    font-size: 34px;
  }
}
@media screen and (max-width: 640px) {
  header h2 {
    font-size: 30px;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
  margin: 60px auto 100px auto;
  max-width: 960px;
}

.row {
  overflow: hidden;
}

.columns {
  float: left;
  margin-left: 5%;
}
.columns:first-child {
  margin-left: 0;
}

.twelve.columns {
  width: 100%;
}

.eight.columns {
  width: 65%;
}

.six.columns {
  width: 47.5%;
}

.four.columns {
  width: 30%;
}

.three.columns {
  width: 21.25%;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

@media screen and (max-width: 640px) {
  .twelve.columns, .eight.columns, .six.columns, .four.columns, .three.columns {
    float: none;
    margin: 0;
    width: 100%;
    margin-bottom: 60px;
  }
}

img {
  width: 100%;
}

p > img {
  margin: 0;
}

@media screen and (max-width: 640px) {
  .big {
    display: none;
  }
}

.center {
  text-align: center;
}

#entry {
  margin-bottom: 100px;
}

ul#nav {
  z-index: 5;
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding: 15px;
  margin: 0px 10px;
  list-style: none;
  background-color: white;
  border: 1px #eeeeee solid;
}
@media screen and (max-width: 1063px) {
  ul#nav {
    width: 30%;
    padding: 10px;
  }
}
@media screen and (max-width: 1063px) {
  ul#nav:before {
    content: "Navigate PearShaped";
  }
}
@media screen and (max-width: 1063px) {
  ul#nav:hover li {
    display: block;
  }
}
ul#nav li {
  display: inline;
  padding: 15px;
}
@media screen and (max-width: 1063px) {
  ul#nav li {
    display: none;
    padding: 5px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1063px) {
  ul#nav li:first-child {
    margin-top: 10px;
  }
}
ul#nav li:hover {
  background-color: #498c34;
}
ul#nav li a {
  color: #222222;
}

.social {
  display: inline;
  margin: 10px 0px 0px 0px;
  max-width: 30px;
  padding: 0px;
}
@media screen and (max-width: 1063px) {
  .social {
    display: none;
  }
}

.album {
  margin-bottom: 40px;
}
.album a:hover img {
  opacity: 0.5;
}

ul.cards {
  position: relative;
  width: 100%;
  max-height: 300px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
}

ul.cards li {
  position: relative;
  padding: 16px;
  margin: 0;
  color: #222;
  font-size: 18px;
  z-index: 2;
  text-transform: uppercase;
  background: #eee;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

ul.cards li:hover {
  background-color: #498c34;
}

ul.cards li a {
  color: #222;
  font-weight: 200;
}

ul.cards li a b, ul.cards li a strong {
  font-weight: 900;
}

ul.cards li a:hover {
  color: white;
}

.cards {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.cards li {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.cards li.past {
  -webkit-transform: translate3d(0, -100px, -100px) rotateX(-90deg);
  -moz-transform: translate3d(0, -100px, -100px) rotateX(-90deg);
  -ms-transform: translate3d(0, -100px, -100px) rotateX(-90deg);
  -o-transform: translate3d(0, -100px, -100px) rotateX(-90deg);
  transform: translate3d(0, -100px, -100px) rotateX(-90deg);
}

.cards li.future {
  -webkit-transform: translate3d(0, 100px, -100px) rotateX(90deg);
  -moz-transform: translate3d(0, 100px, -100px) rotateX(90deg);
  -ms-transform: translate3d(0, 100px, -100px) rotateX(90deg);
  -o-transform: translate3d(0, 100px, -100px) rotateX(90deg);
  transform: translate3d(0, 100px, -100px) rotateX(90deg);
}

.hero {
  line-height: 0.8em;
  margin: 0.1em;
}

#featured {
  margin: 0 auto;
}

#featured {
  list-style-type: none;
  height: 450px;
  width: 80%;
  margin: 0 auto;
}
#featured div {
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  #featured {
    width: 100%;
    height: 350px;
  }
}
