// Futura Family
@font-face {
    font-family: 'futura';
    src: url('http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot');
    src: url('http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.tumblr.com/gjd1903/cNon0zpyd/futuralt-webfont.woff') format('woff'),
         url('http://static.tumblr.com/gjd1903/DK3n0zpxx/futuralt-webfont.ttf') format('truetype'),
         url('http://static.tumblr.com/gjd1903/zKNn0zpx0/futuralt-webfont.svg#futura') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Aleo Family
@font-face {
    font-family: 'aleo';
    src: url('http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot');
    src: url('http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.tumblr.com/gjd1903/rDin0zqbx/aleo-bold-webfont.woff') format('woff'),
         url('http://static.tumblr.com/gjd1903/s9Mn0zqc9/aleo-bold-webfont.ttf') format('truetype'),
         url('http://static.tumblr.com/gjd1903/yfTn0zqcq/aleo-bold-webfont.svgg#aleo') format('svg');
    font-weight: bold;
    font-style: normal;
}

$bodyfont: Georgia, serif;

$headerfont: 'aleo', 'helvetica', arial, sans-serif;

$titlefont: 'futura', 'helvetica', arial, sans-serif;

@mixin header{
    font-family: $headerfont;
    font-weight: bold;
}

@mixin title{
    font-family: $titlefont;
    text-transform: uppercase;
}