@import 'basics';

//					//
//	  NAVIGATION   	//
//					//

ul#nav{
	z-index: 5;
	position: fixed;
	top: 0;
	margin: 0 auto;

	padding: 15px;
	margin: 0px 10px;

	list-style: none;
	background-color: white;

	border: 1px $light solid;

	@media screen and (max-width: $tabletb){
		width: 35%;
		padding: 10px;
	}

	&:before{
		@media screen and (max-width: $tabletb){
			content: "Navigate";
		}
	}

	&:hover li{
		@media screen and (max-width: $tabletb){
			display: block;
		}
	}

	li{
		display: inline;
		padding: 15px;

		@media screen and (max-width: $tabletb){
			display: none;
			padding: 5px;
			overflow: hidden;
		}

		&:first-child{
			@media screen and (max-width: $tabletb){
				margin-top: 10px;
			}
		}

		&:hover{
			background-color: $psgreen;
		}

		a{
			color: $text;
		}
	}
}

// Social Buttons
.social{
	display: inline;
	margin: 10px 0px 0px 0px;
	max-width: 30px;
	padding: 0px;
	@media screen and (max-width: $tabletb){
		display: none;
	}
}


//					//
//	    REVIEWS   	//
//					//

.album{
	margin-bottom: 40px;

	a:hover img{
		opacity: 0.5;
	}
}

//					//
//	     HOME   	//
//					//

.tag{
	text-align: right;
	font-size: 10px;
	font-weight: 900;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 11px;
}

//					//
//	    EVENTS   	//
//					//

@import 'stroll';

//					//
//	   FEATURES   	//
//					//

.hero{
	line-height: 0.8em;
	margin: 0.1em;
}

#featured{
	margin: 0 auto;
}


//					//
//	     SHAME      //
//					//

#featured{
	list-style-type: none;
	height: 410px;
	width: 80%;
	margin: 0 auto;
	div{
		margin: 0 auto;
	}
	@media screen and (max-width: 800px){
		width: 100%;
		height: 350px;
	}
	@media screen and (max-width: 420px){
		height: 255px;
	}
}

// Integrate

.center{
		margin: 0 auto;
}