*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
  margin: 60px auto 100px auto;
  max-width: 960px;
}

.row {
  overflow: hidden;
}

.columns {
  float: left;
  margin-left: 5%;
}
.columns:first-child {
  margin-left: 0;
}

.twelve.columns {
  width: 100%;
}

.eight.columns {
  width: 65%;
}

.six.columns {
  width: 47.5%;
}

.four.columns {
  width: 30%;
}

.three.columns {
  width: 21.25%;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

@media screen and (max-width: 640px) {
  .twelve.columns, .eight.columns, .six.columns, .four.columns, .three.columns {
    float: none;
    margin: 0;
    width: 100%;
    margin-bottom: 60px;
  }
}

.column {
  float: left;
}

.size-1of1 {
  width: 100%;
}

.size-1of2 {
  width: 50%;
}

.size-1of3 {
  width: 33.333%;
}

.size-1of3 h1, .size-1of3 h2, .size-1of3 h3, .size-1of3 h4, .size-1of3 h5, .size-1of3 h6, .size-1of2 h1, .size-1of2 h2, .size-1of2 h3, .size-1of2 h4, .size-1of2 h5, .size-1of2 h6, .size-1of1 h1, .size-1of1 h2, .size-1of1 h3, .size-1of1 h4, .size-1of1 h5, .size-1of1 h6 {
  text-align: center;
  margin-top: 0px;
}

.card {
  padding: 10px;
  border: 1px #eeeeee solid;
  margin: 20px 10px;
  overflow: hidden;
}
.card:hover {
  background-color: white;
}
.card:hover h4 {
  color: #498c34;
}

@media screen and (max-width: 640px) {
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
@media screen and (max-width: 0.7) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media screen and (min-width: 0.7) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

@media screen and (max-width: 640px) {
  .card h4 {
    font-size: 18px;
  }
}

img {
  width: 100%;
}

p > img {
  margin: 0;
}

@media screen and (max-width: 640px) {
  .big {
    display: none;
  }
}

.center {
  text-align: center;
}

#entry {
  margin-bottom: 100px;
}

@media screen and (max-width: 640px) {
  #search {
    display: none;
  }
}
