@font-face {
  font-family: 'futura';
  src: url("http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot");
  src: url("http://static.tumblr.com/gjd1903/zB0n0zpwm/futuralt-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.tumblr.com/gjd1903/cNon0zpyd/futuralt-webfont.woff") format("woff"), url("http://static.tumblr.com/gjd1903/DK3n0zpxx/futuralt-webfont.ttf") format("truetype"), url("http://static.tumblr.com/gjd1903/zKNn0zpx0/futuralt-webfont.svg#futura") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aleo';
  src: url("http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot");
  src: url("http://static.tumblr.com/gjd1903/g8vn0zqbg/aleo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.tumblr.com/gjd1903/rDin0zqbx/aleo-bold-webfont.woff") format("woff"), url("http://static.tumblr.com/gjd1903/s9Mn0zqc9/aleo-bold-webfont.ttf") format("truetype"), url("http://static.tumblr.com/gjd1903/yfTn0zqcq/aleo-bold-webfont.svgg#aleo") format("svg");
  font-weight: bold;
  font-style: normal;
}
body {
  font-size: 14px;
  line-height: 1.5em;
  font-family: Georgia, serif;
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "aleo", "helvetica", arial, sans-serif;
  font-weight: bold;
}

.title, #nav, .cards, .date {
  font-family: "futura", "helvetica", arial, sans-serif;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 5px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #222222;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #498c34;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.2em;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a {
  color: #498c34;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #222222;
}

small {
  display: block;
  font-size: 9.8px;
  margin: 14px;
  font-style: italic;
}

blockquote {
  font-style: italic;
  opacity: 0.8;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
  hyphenate: auto;
  orphans: 4;
}

ul, ol, form {
  margin-top: 1em;
  margin-bottom: 1em;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

sup, .superscript {
  font-size: xx-small;
  vertical-align: top;
}

hr {
  border: none;
  border-bottom: 1px solid #eeeeee;
}

.kicker {
  font-size: 17.5px;
  padding: 1em;
}
.kicker .run-in {
  text-transform: uppercase;
  font-weight: bold;
}

.drop-cap {
  display: block;
  font-size: 70px;
  float: left;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.title a {
  color: #222222;
}
.title a:hover {
  color: #498c34;
}
@media screen and (max-width: 1063px) {
  .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 30px;
  }
}

header {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
header h1, header h2 {
  font-family: "futura", "helvetica", arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  overflow: hidden;
}
header h1 a, header h2 a {
  font-weight: normal;
  color: #222222;
}
header h1 a:hover, header h2 a:hover {
  color: #498c34;
}
header h1 {
  border-bottom: 10px #498c34 solid;
  font-size: 120px;
}
@media screen and (max-width: 1063px) {
  header h1 {
    border-bottom: 7.5px #498c34 solid;
    font-size: 80px;
  }
}
@media screen and (max-width: 640px) {
  header h1 {
    border-bottom: 5px #498c34 solid;
    font-size: 40px;
  }
}
header h2 {
  margin-top: 10px;
  font-size: 40px;
  /*@media screen and (max-width: $mobileb){
  	font-size: 30px;
  }*/
}
@media screen and (max-width: 1063px) {
  header h2 {
    display: none;
    font-size: 0px;
  }
}
